<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Good Byes</title>
  </head>
  <body>
    <div class="flex min-h-screen justify-center bg-sky-100 p-8">
      <div
        class="flex max-w-3xl flex-col items-center justify-center gap-5 p-8 text-center lg:gap-10"
      >
        <!-- first section  -->
        <div class="flex flex-col items-center">
          <img src="./img/Frame.png" alt="main-logo" class="h-auto w-20 lg:w-28" />
          <p class="text-3xl font-semibold lg:text-4xl">We hate to say goodbyes</p>
        </div>
        <!-- second section  -->
        <div
          class="flex flex-col items-center gap-5 rounded-lg bg-white p-4 text-center lg:gap-10 lg:p-10"
        >
          <div class="rounded-full bg-slate-600/5 p-20"></div>
          <div class="flex flex-col items-center gap-4 text-lg lg:gap-8 lg:text-xl">
            <div class="flex flex-col gap-4 lg:gap-8">
              <h3 class="text-2xl font-medium">So we’re emailing you one last time</h3>
              <p>
                We can take a hint (sniffle sniffle). Let us know if you want to continue receiving
                emails from productName, or we’ll let you move on.
              </p>
            </div>
            <div class="rounded-full bg-blue-600 px-7 py-2 text-base font-semibold text-white">
              <a href="#"><button>Reset your password</button></a>
            </div>
            <div>
              <p>“WAIT! I don’t want ot miss out on upcoming events and product announcements.”</p>
            </div>
          </div>
        </div>
        <!-- third section  -->
        <div class="flex flex-col items-center gap-3">
          <div class="flex flex-row">
            <img src="./img/facebook.png" alt="facebook" />
            <img src="./img/in.png" alt="in" />
            <img src="./img/twitter.png" alt="twitter" />
            <img src="./img/insta.png" alt="insta" />
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-lg font-normal lg:text-xl">Copyright © 2022</p>
            <p class="text-xl font-bold leading-tight lg:text-xl">ProductName</p>
            <p class="text-lg lg:text-xl">
              Please use this link to
              <a class="font-bold underline" href="#">unsubscribe</a> from all our emails.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
