<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Product Name Simple Pattern</title>
  </head>
  <body>
    <div class="flex min-h-screen justify-center bg-sky-100 p-8">
      <div
        class="flex max-w-3xl flex-col items-center justify-center gap-5 p-8 text-center lg:gap-10"
      >
        <!-- first section -->
        <div class="flex flex-col items-center gap-2">
          <img src="./img/Frame.png" alt="main-logo" class="h-auto w-20 lg:w-28" />
          <p class="text-3xl lg:text-4xl">Hi <span class="font-bold">James,</span></p>
          <p class="text-3xl lg:text-4xl">welcome to productName!</p>
          <p class="text-base lg:text-lg">Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <!-- second section -->
        <div class="flex flex-col items-center gap-3 rounded-lg bg-white p-6 lg:gap-6 lg:p-8">
          <div class="text-lg font-bold lg:text-xl">
            <h3>Before Starting your adventure</h3>
          </div>
          <div class="flex flex-col gap-4 lg:gap-6">
            <div class="flex flex-row-reverse gap-6 text-start lg:gap-8">
              <div class="flex flex-col items-start gap-2 text-zinc-700">
                <h3 class="text-base font-semibold lg:text-lg">Let’s get Started</h3>
                <p>
                  Maxime ut explicabo laboriosam exercitationem inventore harum quos consectetur
                  distinctio, earum illo sit, ea libero veritatis consequatur quam aut ulla
                </p>
                <a class="rounded-full bg-blue-500 px-10 py-3 text-white" href="#"
                  ><button>Complete profile</button></a
                >
              </div>
              <div class="rounded-full bg-slate-200/50 p-20"></div>
            </div>
            <div class="flex flex-row-reverse gap-6 text-start lg:gap-8">
              <div class="flex flex-col items-start gap-2 text-zinc-700">
                <h3 class="text-base font-semibold lg:text-lg">Verify your information</h3>
                <p>
                  Maxime ut explicabo laboriosam exercitationem inventore harum quos consectetur
                  distinctio, earum illo sit, ea libero veritatis consequatur quam aut ulla
                </p>
                <a class="rounded-full bg-blue-500 px-10 py-3 text-white" href="#"
                  ><button>Add Verifications</button></a
                >
              </div>
              <div class="rounded-full bg-slate-200/50 p-20"></div>
            </div>
            <div class="flex flex-row-reverse gap-6 text-start lg:gap-8">
              <div class="flex flex-col items-start gap-2 text-zinc-700">
                <h3 class="text-base font-semibold lg:text-lg">Get going</h3>
                <p>
                  Maxime ut explicabo laboriosam exercitationem inventore harum quos consectetur
                  distinctio, earum illo sit, ea libero veritatis consequatur quam aut ulla
                </p>
                <a class="rounded-full bg-blue-500 px-12 py-3 text-white" href="#"
                  ><button>Start Exploring</button></a
                >
              </div>
              <div class="rounded-full bg-slate-200/50 p-20"></div>
            </div>
          </div>
        </div>
        <!-- third section  -->
        <div class="flex flex-row items-end gap-3 rounded-lg bg-white px-12 pt-8 lg:gap-6">
          <div class="flex flex-col gap-6 text-start">
            <div class="flex flex-col gap-6">
              <p class="text-xl font-bold leading-tight lg:text-2xl">Get our ProductName app!</p>
              <p>
                Get the most of ProductName by installing our mobile app. You can log in by using
                your existing emails address an password.
              </p>
            </div>
            <div class="flex flex-row gap-3 pb-8 lg:gap-6">
              <div>
                <img src="./img/playstore.png" alt="playstore" class="h-auto w-28 lg:w-32" />
              </div>
              <div>
                <img src="./img/appstore.png" alt="appstore" class="h-auto w-28 lg:w-32" />
              </div>
            </div>
          </div>
          <div>
            <img src="./img/iphone.png" alt="iphone" />
          </div>
        </div>
        <!-- fourth section  -->
        <div class="flex flex-col items-center gap-3">
          <div class="flex flex-row">
            <img src="./img/facebook.png" alt="facebook" />
            <img src="./img/in.png" alt="in" />
            <img src="./img/twitter.png" alt="twitter" />
            <img src="./img/insta.png" alt="insta" />
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-lg font-normal lg:text-xl">Copyright © 2022</p>
            <p class="text-xl font-bold leading-tight lg:text-xl">ProductName</p>
            <p class="text-lg lg:text-xl">ProductName tagline</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
