<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="flex min-h-screen justify-center p-8 bg-sky-100">
      <div
        class="p-8 flex flex-col  justify-center items-center text-center lg:gap-10 gap-5 max-w-3xl"
      >
        <!-- first section  -->
        <div class="items-center flex-col flex">
          <img
            src="../img/Frame.png"
            alt="main-logo"
            class="h-auto lg:w-28 w-20"
          />
          <p class="lg:text-4xl font-semibold text-3xl">
            Forgot your Password?
          </p>
        </div>
        <!-- second section  -->
        <div
          class="items-center text-center flex-col flex lg:gap-10 gap-5 bg-white rounded-lg p-5 lg:p-12"
        >
          <div class="p-20 rounded-full bg-slate-600/5"></div>
          <div
            class="flex flex-col items-center lg:gap-8 gap-4 lg:text-xl text-lg"
          >
            <div>
              <h3 class="text-2xl font-medium">Hello,</h3>
              <p>
                productName recently received a request for a forgotten
                password. To change your productName password, please click on
                below link
              </p>
            </div>
            <div
              class="bg-blue-600 rounded-full text-white text-base font-semibold py-2 px-7"
            >
              <a href="#"><button>Reset your password</button></a>
            </div>
            <div>
              <p>
                If you did not request this change, you do not need to do
                anything. Thanks,
                <p>The productName Team</p>
              </p>
            </div>
          </div>
        </div>
        <!-- third section  -->
        <div class="items-center flex-col gap-3 flex">
          <div class="flex flex-row">
            <img src="../img/facebook.png" alt="facebook" />
            <img src="../img/in.png" alt="in" />
            <img src="../img/twitter.png" alt="twitter" />
            <img src="../img/insta.png" alt="insta" />
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-lg lg:text-xl font-normal">Copyright © 2022</p>
            <p class="text-xl lg:text-xl font-bold leading-tight">
              ProductName
            </p>
            <p class="text-lg lg:text-xl">Please use this link to <a class="font-bold underline" href="#">unsubscribe</a> from all our emails.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
