<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Account Approval</title>
  </head>
  <body>
    <div class="flex min-h-screen justify-center p-8 bg-sky-100">
      <div
        class="p-8 flex flex-col justify-center items-center text-center lg:gap-10 gap-5 max-w-2xl"
      >
        <!-- first section -->
        <div class="items-center flex-col flex">
          <img
            src="../img/Frame.png"
            alt="main-logo"
            class="h-auto lg:w-28 w-20"
          />
          <p class="text-3xl lg:text-4xl">
            Hi <span class="font-bold">James,</span>
          </p>
          <p class="lg:text-3xl text-2xl">
            your productName account has been approved!
          </p>
        </div>
        <!-- second section -->
        <div
          class="items-center flex-col flex lg:gap-10 gap-5 bg-white rounded-lg p-4 lg:p-8"
        >
          <div class="p-20 rounded-full bg-slate-600/5"></div>
          <div class="flex flex-col items-center lg:gap-8 gap-4 p-10">
            <div
              class="flex flex-col text-center text-lg lg:text-xl lg:gap-10 gap-5"
            >
              <p>
                Your productName account has been approved and you can now log
                in on to your productName account.
              </p>
              <hr />
              <p>
                You can now access productName online or on any device by going
                to
                <a class="text-blue-600 block" href="#"
                  >http://productName.com</a
                >
              </p>
            </div>
            <div
              class="bg-blue-800 rounded-lg text-white text-base font-semibold inline-block py-2 px-7"
            >
              <a href="#"><button>Get Started</button></a>
            </div>
          </div>
        </div>
        <!-- third section  -->
        <div
          class="items-center flex-col flex gap-6 bg-white rounded-lg py-8 px-12"
        >
          <div class="flex gap-6 flex-col">
            <p class="text-2xl font-bold leading-tight">
              Get the ProductName app!
            </p>
            <p>
              Get the most of ProductName by installing our mobile app. You can
              log in by using your existing emails address an password.
            </p>
          </div>
          <div class="flex flex-row lg:gap-6 gap-3">
            <div>
              <img
                src="../img/playstore.png"
                alt="playstore"
                class="h-auto lg:w-40 w-28"
              />
            </div>
            <div>
              <img
                src="../img/appstore.png"
                alt="appstore"
                class="lg:w-40 h-auto w-28"
              />
            </div>
          </div>
        </div>
        <!-- fourth section  -->
        <div class="items-center flex-col gap-3 flex">
          <div class="flex flex-row">
            <img src="../img/facebook.png" alt="facebook" />
            <img src="../img/in.png" alt="in" />
            <img src="../img/twitter.png" alt="twitter" />
            <img src="../img/insta.png" alt="insta" />
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-lg lg:text-xl font-normal">Copyright © 2022</p>
            <p class="text-xl lg:text-xl font-bold leading-tight">
              ProductName
            </p>
            <p class="text-lg lg:text-xl">ProductName tagline</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
